﻿@model CineCrud.Models.Cine

@{
    ViewData["Title"] = "Create";
}

<h1>Nueva reservacion</h1>

<h4>Cine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tituloM" class="control-label"></label>
                <input asp-for="tituloM" class="form-control" />
                <span asp-validation-for="tituloM" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="generoM" class="control-label" style="width:600px;"></label>
                <select name="generoM" style="width:350px;">
                    <option value="">Selecciona</option>
                    <option value="Accion">Accion</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Infantil">Infantil</option>
                    <option value="Terror">Terror</option>
                    <option value="Romance">Romance</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="fechaM" class="control-label"></label>
                <input asp-for="fechaM" class="form-control" />
                <span asp-validation-for="fechaM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horario" class="control-label"></label>
                <input asp-for="horario" class="form-control" />
                <span asp-validation-for="horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservoM" class="control-label"></label>
                <input asp-for="reservoM" class="form-control" />
                <span asp-validation-for="reservoM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asientos" class="control-label"></label>
                <input asp-for="asientos" class="form-control" />
                <span asp-validation-for="asientos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoPago" class="control-label" style="width:600px;"></label>
                <select name="tipoPago" style="width:350px;">
                    <option value="">Selecciona</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta_debito">Tarjeta de debito</option>
                    <option value="Tarjeta_credito">Tarjeta de credito</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
