﻿@model CineCrud.Models.Cine

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tituloM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tituloM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.generoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.generoM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservoM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservoM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.asientos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.asientos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPago)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regresar</a>
</div>
