﻿@model IEnumerable<CineCrud.Models.Cine>

@{
    ViewData["Title"] = "Index";
}

<h1>Cine Star</h1>

<p>
    <a asp-action="Create">Nueva reservación</a>
</p>

<form asp-action="Index" method="get">
        <input type="search" placeholder="Busca por titulo o por persona" name="movSearch"
               value="@ViewData["GetCineDetails"]" style="width:300px;" />
        <input type="submit" value="Buscar" class="btn btn-outline-dark" />
        <a asp-action="Index" class="btn btn-outline-dark">Ver todos</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idMov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tituloM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.generoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reservoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.asientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idMov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tituloM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.generoM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reservoM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.asientos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoPago)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detail", new { id = item.idMov }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Modificar", "Edit", new { id = item.idMov }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idMov }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
